.movie-detailes {
    padding-top: 64px;


    .sub-header {
        width: 100%;
        color: white;
        background-color: #746a64;
        padding-left: 20px;
        height: 64px;
        box-sizing: border-box;

        h2 {
            margin: 0;
            font-size: 24px;
            height: 100%;
            line-height: 64px;
            float: left;
        }
    }


    .movie-info {
        width: calc(100% - 134px);
        float: right;
        color: #212121;
        font-family: Roboto, sans-serif;
        min-height: 173px;
        position: relative;

        .year {
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;

        }

        .duration {
            font-style: italic;
            font-size: 14px;
        }

        .rating {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 0;
            margin-top: 36px;
        }

        .favorite-btn {
            background: #746a64;
            color: white;
            border: none;
            padding: 10px;
            margin: 10px 0;
            height: 56px;
            position: absolute;
            width: 100%;
            bottom: 0;
            margin-bottom: 0;
            cursor: pointer;
        }

    }

    section {
        padding: 20px;
    }

    .movie-poster {
        width: 115px;
        height: auto;
    }

    .movie-description {
        text-align: left;
        margin: 24px 0 0 0;
        font-weight: 500;
        font-size: 14px;
        color: #757575;
    }

    .trailers h3 {
        padding: 0 0 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-weight: 500;
        color: #757575;
    }

    .trailer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;

        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            height: auto;
        }
    }

    .play-btn {
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
    }
}