.menu {
    position: relative;
    text-align: right;
    padding: 12px;
    float: right;
}

.menu-button {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
}